.color-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.color-circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.color-circle:hover {
  filter: brightness(65%)
}
.selected-color {
  filter: brightness(65%);
}
