@import '~@angular/material/theming';
@import '../features/home/home/home.component';

@include mat-core();

//default theme
$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@mixin init-mixins($theme) {
  @include angular-material-theme($theme);
  @include main-title-text-color($theme);
}

//themes for theme picker
.orange {
  $primary: mat-palette($mat-orange);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include init-mixins($theme);
}
.yellow {
  $primary: mat-palette($mat-yellow);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include init-mixins($theme);
}
.green {
  $primary: mat-palette($mat-green);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include init-mixins($theme);
}
.blue {
  $primary: mat-palette($mat-blue);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include init-mixins($theme);
}
.indigo {
  $primary: mat-palette($mat-indigo);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include init-mixins($theme);
}
.teal {
  $primary: mat-palette($mat-teal);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include init-mixins($theme);
}
.brown {
  $primary: mat-palette($mat-brown);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include init-mixins($theme);
}
