@mixin global-classes($theme) {
  $primary: map-get($theme, primary);

  .main-theme-text-color {
    color: mat-color($primary);
  }
}

.override-text-align {
  text-align: right !important;
}

@mixin init-mixins($theme) {
  // All mixins that use our custom theme need to be included here
  @include angular-material-theme($theme);
  @include global-classes($theme);
}
