<h2 mat-dialog-title style="direction: rtl;">
  הגדרות
</h2>
<div mat-dialog-content class="color-container">
  <div *ngFor="let theme of themes">
    <div
      class="color-circle"
      [ngClass]="{ 'selected-color': selectedTheme === theme }"
      [ngStyle]="{ 'background-color': theme }"
      (click)="onColorClicked(theme)"
    ></div>
  </div>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>בחר זירה</mat-label>
    <mat-select [(value)]="selectedSection">
      <mat-option *ngFor="let section of sections" [value]="section">
        {{ section }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onConfirm()" color="primary">שמור</button>
  <button mat-button (click)="onCancel()" color="warn">ביטול</button>
</div>
