@mixin main-title-text-color ($theme) {
  $primary: map-get($theme, primary);
  .main-title-text {
    font: bold 100px Arial;
    color: mat-color($primary);
  }
}
.home-page-container {
  display: flex;
  flex-direction: column;
  height: 65%;
}
.main-title-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-logo {
  height: 92px;
  width: 92px;
}
